@model Blog.Domains.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            color: white;
        }

    h2 {
        margin-top: 10px;
        padding: 10px;
        background-color: antiquewhite;
        border-radius: 10px;
    }
</style>
<h2>Chi tiết</h2>

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Model.Email
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @if (Model.Type == true)
            {
                <p>Admin</p>
            }
            else
            {
                <p>Khách hàng</p>

            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @if (Model.Status == true)
            {
                <p>Hoạt động</p>
            }
            else
            {
                <p>Không hoạt động</p>

            }

        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("edit","Account",new { id=Model.Id})" class="btn btn-primary">Sửa</a>

    <a href="@Url.Action("index","Account",new { id=Model.Id})" class="btn btn-warning">Quay lại</a>
</p>
