@model Blog.Domains.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            color: white;
        }

    h2 {
        margin-top: 10px;
        padding: 10px;
        background-color: antiquewhite;
        border-radius: 10px;
    }
</style>
<h2>Xóa</h2>

<h3>Bạn có muốn xóa?</h3>
<div>
   
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @if (Model.Description == null)
            {
                <p>< Không có mô tả ></p>
            }
            else
            {
                <p>@Model.Description</p>

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @if (Model.Status == 0)
            {
                <p>Hoạt động</p>
            }
            else
            {
                <p>Không hoạt động</p>

            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger"   /> 
            <a href="@Url.Action("index","Category")" class="btn btn-warning">Trở lại</a>
        </div>
    }
</div>
