@model IEnumerable<Blog.Domains.Tag>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: white;
        text-decoration: none;
    }

        a:hover {
            color: white;
        }

    h2 {
        margin-top: 10px;
        padding: 10px;
        background-color: antiquewhite;
        border-radius: 10px;
    }
</style>
<h2>Danh sách</h2>

<p>
    <a href="@Url.Action("Create", "Tag")" style="color:white;" class="btn btn-primary mb-3 mt-3"><i class="fas fa-plus"></i></a>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TagName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TagName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        @if (item.Status == 0)
        {
            <p>Hoạt động</p>
        }
        else
        {
            <p>Không hoạt động</p>

        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedOn)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdatedOn)
    </td>
    <td>
        <a href="@Url.Action("Details", "Tag", new {id=item.Id})" style="margin-right: 10px; color:skyblue"><i class="fas fa-eye"></i></a>

        <a href="@Url.Action("Edit", "Tag", new {id=item.Id})" style="margin-right:10px;color:gray;"><i class="fas fa-edit"></i></a>

        <a href="@Url.Action("Delete", "Tag", new {id=item.Id})" style="color:#ff4949;"><i class="fas fa-trash"></i></a>

    </td>
</tr>
}

</table>
